.container{
    width: 100%;
    height: 100vh;

    background-color: #e0e0e0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: #264653;

    .board{
        display: grid;
        justify-content: center;

        grid-template-columns: 110px 110px 110px;
        
        // overflow: hidden;
        gap: 10px;
        width: 370px;
        height: 370px;
        
        
        .square{
            display: flex;
            justify-content: center;
            align-items: center;

            width: 110px;
            height: 110px;
            
            
            cursor: pointer;
            border-radius: .25rem;
            background-color: #ffffff;
            transition: .1s ease-in-out;
            &:hover{
                filter: brightness(0.95);
             }
             &:active{
                transform: scale(0.9);
             }


        }
    }

}

.gameOver{
    opacity: 0.5;
}

.turn{
    font-size: 20px;
    margin: 12px;
    color: #5c5c5c;
}

.draw{
    margin-bottom: 1rem;
}

.playAgain{
    width: 180px;
    
    margin-top: 1rem;
    padding: 12px 0px 12px 0px;
    
    border: none;
    border-radius: .25rem;
    
    color: #fff;
    font-weight: bold;
    background: #272727;
    
    cursor: pointer;
}